body {
  background-color:lightgrey;
}

.workoutTable {
  background-color:white;
  border-style: ridge;
  margin-top: 1rem;
  padding: 1rem;
  text-align: left;
}

table, th, td {
  border: 1px solid black;
}

form{
  margin-top: 1rem;
}